body {
	background-color: #cccccc;
	font-family: 'Montserrat', 'Segoe UI', 'Calibri', 'Verdana', 'Helvetica Neue', sans-serif;
	font-size: 0.875rem !important;
}
h1 {	margin-bottom: 10px; text-align: center; font-family: 'Raleway'; }
h2 {	margin-bottom:  6px; text-align: center; font-family: 'Raleway'; }
code {  background-color: black; color: white; }
.rounded-tl {    border-top-left-radius: 1rem; }
.rounded-tr {    border-top-right-radius: 1rem; }
.rounded-bl {    border-bottom-left-radius: 1rem; }
.rounded-br {    border-bottom-right-radius: 1rem; }

.gauze {
	background-color: rgba(238,238,238,0.6);
}

.nav-pills .nav-link.active,
.nav-pills .nav-link.hover,
.nav-pills .nav-link { color: inherit; border: none; background: transparent; }
.nav-link {	font-weight: bold; margin: 0px 15px 2px 15px; padding: 3px 6px 3px 6px; }

li {
    border: solid 1px black;
}
.ladder {
    text-shadow: none;
	margin-bottom: 10px;
}
th {
	background-color: #888888;
    text-align: right;
    font-weight: bold;
	padding-right: 2px;
}
.ldrTeam {
	border-radius: 1.0rem;
	font-weight: bold;
}
.ldrData {
	text-align: right;
	padding: 2px;
	min-width: 1.8rem;
	background-color: #888888;
}
.promotion {
    background-color: #98fb98 !important;
    border-bottom: 1px solid #009900;
}
.relegation {
    background-color: #ffcccb !important;
    border-bottom: 1px solid #cc0000;
}
.unknown {
    background-color: #222222 !important;
    border-bottom: 1px solid #dddddd;
    color: #dddddd;
}
.ucl {
	background-color: #ffd017 !important;
	border-bottom: #ff9900 solid 1px;
}
.uclqual {
	background-color: #ffdb58 !important;
	border-bottom: #ffcc00 solid 1px;
}
.eurolg {
	background-color: #157dec !important;
	border-bottom: #77aaff solid 1px;
}
.eurolgqual {
	background-color: #79baec !important;
	border-bottom: #00aaff solid 1px;
}

.theMatchBody {
    text-shadow: none;
}
.team {
    text-align: center;
    font-weight: bold;
    border-radius: 0.5rem;
    font-size: 0.9625rem;
    margin: 0.2rem !important;
}
.team > a{
    text-decoration: none;
    color: inherit;
}
i > .material-icons {
    text-decoration: none;
    color: inherit;
}
.score {
    font-weight: bold;
    text-align: center;
    border-radius: 0.5rem;
    font-size: 0.9625rem;
}
.homeevent {
    text-align: right;
    border-top-left-radius: 0.5rem;
	border-bottom-left-radius: 0.5rem;
	padding-bottom: 1px;
    padding-top: 1px;
    font-size: 0.8rem;
}
.awayevent {
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
	padding-bottom: 1px;
	padding-top: 1px;
    font-size: 0.8rem;
}
.htimeevent {
    text-align: center;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
	padding-bottom: 1px;
	padding-top: 1px;
    font-size: 0.8rem;
}
.atimeevent {
    text-align: center;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
	padding-bottom: 1px;
	padding-top: 1px;
    font-size: 0.8rem;
}
.matchTrivia > ul {
    margin-bottom: 0px;
    margin-top: 0px;
    padding-bottom: 8px;
    padding-top: 8px;
}
.matchTrivia > ul > li {
    padding-bottom: 2px;
    padding-top: 2px;
}
.badge-pill {
    color: inherit; text-decoration: inherit;
    text-shadow: none;
}
.badge-danger {
    text-shadow: none;
    border: 1px #ffffff solid;
    background-color: #cc0000;
}
.badge-success {
    text-shadow: none;
    border: 1px #ffffff solid;
    background-color: #009900;
}
.badge-warning {
    text-shadow: none;
    border: 1px #212529 solid;
    color: #212529;
    background-color: #ffc00c;
}
.showMeR {    border: 1px dashed red; }
.showMeK {    border: 1px dashed black; }
.showMeM {    border: 1px dashed magenta; }
.showMeC {    border: 1px dashed cyan; }
.showMeG {    border: 1px dashed green; }

.cTabFrame {
    width: 98%;
    margin-left: 1%;
    border-radius: 1.5rem;
}

.iTabFrame {
    border-radius: 1.5rem;
}
