.nav-tabs { border-bottom: 2px solid #dddddd; }
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover { border-width: 0; }
.nav-tabs > li > a { border: none; text-decoration: none; font-weight: bold; }
.nav-tabs > li.active > a, .nav-tabs > li > a:hover { border: none; background: transparent; }
/*.nav-tabs > li > a::after { content: ""; background: #4285F4; height: 2px; position: absolute; width: 100%; left: 0px; bottom: -1px; transition: all 250ms ease 0s; transform: scale(0); }*/
.nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after { transform: scale(1); }
.tab-nav > li > a::after { none repeat scroll 0% 0%; }
.tab-content { padding: 20px; }
.tab-pane { padding: 15px 0; }

li { padding: 5px 10px 5px 10px; margin: 2px 3px 2px 3px; border-radius: 0.5rem; font-weight: bold; }
li > a { text-decoration: none; color: inherit !important; }
li > a:hover { text-decoration: none; color: inherit !important; }
a, a:hover   { text-decoration: none; color: inherit !important; }

body {
    background-color: #cccccc;
    /*background-image: url("../image/grass.png");*/
    font-family: 'Montserrat', 'Segoe UI', 'Calibri', 'Verdana', 'Helvetica Neue', sans-serif;
	font-size: 0.875rem !important;
}
h1, h2, h3 {
    font-weight: bold;
    text-align: center;
}
ul {
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 0.5rem;
    padding-bottom: 0.25rem;
}
.table td, .table th {
    padding: 0.1rem;
    text-align: right;
    vertical-align: middle;
    background-color: #aaaaaa;
    padding-top: 0rem;
    padding-bottom: 0rem;
    text-align: right;
}

/*
	Relating to competition table
*/
.ladder {
    padding: 0;
    background-color: #666666;
}
.ldrdata {
    text-align: right;
    padding: 0 !important;
    margin: 0;
}
.promotion {
    background-color: #98fb98 !important;
    border-bottom: 1px solid #009900;
}
.relegation {
    background-color: #ffcccb !important;
    border-bottom: 1px solid #cc0000;
}
.unknown {
    background-color: #222222 !important;
    border-bottom: 1px solid #dddddd;
    color: #dddddd;
}
.ucl {
	background-color: #ffd017 !important;
	border-bottom: #ff9900 solid 1px;
}
.uclqual {
	background-color: #ffdb58 !important;
	border-bottom: #ffcc00 solid 1px;
}
.eurolg {
	background-color: #157dec !important;
	border-bottom: #77aaff solid 1px;
}
.eurolgqual {
	background-color: #79baec !important;
	border-bottom: #00aaff solid 1px;
}
.ladder tr {
	line-height: 1.2rem;
}
.lStat {
	max-width: 1.7rem;
}
.ldrTeam {
	max-width: 305px;
}
.theTabBody {
    background-color: #bbbbbb;
}
.theBody {
    background-color: #bbbbbb;
    padding-top: 100px;
}
.theCompBody {
	border-radius: 1.5rem;
	text-shadow: 0px 0px !important;
}
.theNation {
	border-radius: 1.5rem;
}
.theSection {
    border-radius: 1.5rem;
}
.theContent {
    border-radius: 1.0rem;
}
.team {
    text-align: center;
    font-weight: bold;
    border-radius: 0.5rem;
    font-size: 0.9625rem;
    margin: 0.2rem !important;
}
.score {
    font-weight: bold;
    text-align: center;
    border-radius: 0.5rem;
    font-size: 0.9625rem;
}
.homeevent {
    text-align: right;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}
.awayevent {
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}
.htimeevent {
    text-align: center;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}
.atimeevent {
    text-align: center;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}
.matchAggregate {
    font-weight: bold;
}
.matchBottom {
    height: 1rem;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}
.matchTime {
    text-align: left;
    border-top-left-radius: 0.5rem;
}
.matchStatus {
    text-align: right;
    border-top-right-radius: 0.5rem;
}
.matchStage {
    text-align: center;
}
.matchCoach {
    text-align: center;
}
.matchTrivia {
	text-align: left;
	padding-left: 5px;
}
.matchVenue {
    text-align: center;
}
.matchFrame {
    font-size: 0.8rem;
}
.subon {
    font-weight: bold;
    color: #00aa00;
    text-shadow: -1px -1px 0 #ffffff,1px -1px 0 #ffffff,-1px 1px 0 #ffffff,1px 1px 0 #ffffff;
}
.suboff {
    font-weight: bold;
    color: #cc0000;
    text-shadow: -1px -1px 0 #ffffff,1px -1px 0 #ffffff,-1px 1px 0 #ffffff,1px 1px 0 #ffffff;
}
.lgFlag {
	border: 1px solid;
}
.MSS > a {
    color: #333333;
}
.showMeR {    border: 1px dashed red; }
.showMeK {    border: 1px dashed black; }
.showMeM {    border: 1px dashed magenta; }
.showMeC {    border: 1px dashed cyan; }
